@font-face {
	font-family: "comic sans ms";
	src: url("comic.ttf")
}

body {
	text-align: center;
	font-family:"comic sans ms";
	background-color:purple;
	color: white;
}

ul{
	list-style-type: none;
}

